@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); /* 'Noto Sans KR' */
@import url(//fonts.googleapis.com/css?family=Roboto:100, 400); /* 'Roboto' */

/* RESET DEFAULT CSS */
html, body, img, p, ul, ol, li, frame {margin:0;padding:0}
img {border:0}
a   {color:#EBEBEB}
#xiv-hd a {text-decoration:none}

/* HTML, BODY */
html, body, #xiv, #xiv-guider, #xiv-content, #image-screen {height:100%;width:100%;}
html {max-width:100vw; max-height:100vh;background: #000;position:relative;overflow:hidden}
html {-webkit-overflow-scrolling: touch; touch-action:none;}
body {position:relative;} /* Fixed IE9~11, Edge Buggy for translate */
body {font-family: 'Noto Sans KR', 'Roboto', sans-serif}
body {color:#EBEBEB;text-shadow:0 0 10px #000, 1px 1px #1C1C1C, 0 0 1px #000}

/* POSITIONING CLASSES */
#xiv-screen-image {position:fixed;display:block;box-shadow:0 0 5px #000, 0 0 35px #000;user-select: none;-ms-user-select: none;}
#xiv-screen-image {box-sizing:border-box;top:50%;left:50%;max-width:100%;max-height:100%}
#xiv-screen-image {transform:translate(-50%, -50%);filter:blur(5px)}
#xiv-screen-image {opacity:0;}
.status-complete #xiv-screen-image {opacity:1;filter:blur(0)}

/* MODE : toOriginal */
#xnav     {position:fixed;z-index:100;top:0;left:0;opacity:0;padding:15px;}
#xnav     {user-select:none;-ms-user-select:none;-moz-user-select:none;}
#nav-back {position:absolute;top:0;left:0;min-width:100vw;min-height:100vh}
#nav-back {visibility:hidden;cursor:default;user-select: none;-ms-user-select:none;-moz-user-select:none}
#nav-back {background-repeat: no-repeat;background-position:-100% -10%;-ms-scroll-limit: 0 0 0 0;}
#nav-back {top:-10000px;left:-10000px;opacity:0;}
.handheld #nav-back {min-width:100vw}
#xnavigator {position:relative;border:2px solid RGBA(0,0,0,0.65);width:25vw;}
#xnav.bottom {top:100%; transform:translate(0, -100%)}


#xnavigator {visibility:hidden}
#xnavigator {transform:translate(-100%, 0)}
.toOriginal #xnavigator {visibility:visible;transform:translate(0, 0)}

#nav-viewport {position:absolute;top:0;left:0;border:3px solid #f00;box-sizing:border-box;opacity:0;}
/*#nav-viewport {max-width:100%;max-height:100%;}*/
/*#nav-viewport {transition:all 50ms ease-in;} flicking bugg @iphone & webkit */
/*.handheld #nav-viewport {transition: none;}*/
#nav-back-image {display:block; width:100%;}
#nav-back-image {user-select: none;-ms-user-select: none;-moz-user-select: none;}

/* MOBILE */
html.handheld.toOriginal {overflow:hidden}
html.handheld.toOriginal body {overflow:auto;}

/* DESKTOP */
html.toOriginal {overflow:visible}

.toOriginal #xnavigator {display:block;z-index:200;opacity:1;}
.toOriginal #nav-back   {display:block;visibility:visible;z-index:100;opacity:1;top:0;left:0;background-position:center}
.toOriginal #xiv-hd     {}
.toOriginal #xiv-ft     {}
.toOriginal #xiv-screen {display:none}
.toOriginal #xiv-backcover-image {opacity:0.20;}
.toOriginal #xnav {visibility:visible;z-index:200;opacity:1;}
.toOriginal #nav-viewport {opacity:0.55}
.toOriginal #xiv-hd {box-shadow:none;opacity:0}
.toOriginal #xiv-ft {transform:translate(0, 100%)}

/* GUIDER */
#xiv {position:relative;width:100%;height:100%;}
#xiv-content  {position:relative;width:100%;height:100%;}

/* MAIN-AREA */
#xiv-hd     {position:fixed;z-index:100;width:100%;box-sizing:border-box;opacity:1}
#xiv-ft     {position:fixed;z-index:100;width:100%;box-sizing:border-box;overflow:auto}
#xiv-screen {position:absolute;width:100%;height:100%;box-sizing:border-box;}
#xiv-hd     {top:0;left:0}
#xiv-screen {top:0;left:0;max-height:100vh;max-width:100vw;overflow:hidden;} /*IE9~11, EDGE : hidden*/
#xiv-ft     {bottom:0;left:0}

#xiv-hd     {
  background:linear-gradient(to bottom, RGBA(0, 0, 0, 0.5) 0, RGBA(0, 0, 0, 0.5) 30px, RGBA(0, 0, 0, 0));
}
#xiv-ft     {
  background:linear-gradient(to top, RGBA(0, 0, 0, 0.5), RGBA(0, 0, 0, 0.5) 50px, RGBA(0, 0, 0, 0));
}
#xiv-screen {box-shadow:inset 0 0 50px #000000;}

/*HEAD*/
#xiv-hd       {overflow:auto;font-size:22px;line-height:34px;padding:10px 0 50px}
#xiv-opt      {overflow:auto;padding:0 10px}
.xiv-opt-bts > div {float:left;text-align:center}
.xiv-opt-bts > div i {display:block;width:34px;line-height:34px}
#xiv-bt-back  {float:right;background:RGBA(125, 125, 125,0.3);line-height:34px}
#xiv-title-wp {clear:both;float:left;padding:3px 15px;font-size:40px;line-height:54px;font-weight:300;max-width:340px}
#xiv-title-wp i {display:inline-block;width:34px;text-align:center}
/*#xiv-title {border-bottom:3px solid #fff}*/
#xiv-title-wp  {visibility:hidden;opacity:0;letter-spacing:5px;transform:scale(1.18, 1.4)}
.status-ready, 
.status-complete  #xiv-title-wp {visibility:visible;opacity:1;letter-spacing:0;transform:scale(1, 1)}
.handheld #xiv-bt-screen {display:none}
/*FOOT*/
#xiv-ft          {padding:30px 15px 30px;}
#xiv-description-wp {float:left;position:relative;visibility:none;padding-top:10px}
#xiv-description-wp {overflow:hidden;font-size:14px;margin:0 4px 4px 0}
#xiv-description-wp::before {position:absolute;z-index:1;content:'';top:0;left:50%;width:0;height:5px;background:#E7E7E7;box-shadow:0 0 5px RGBA(0,0,0, 0.65);border-radius:5px;}
#xiv-description {transform:translate(0, calc(-100% - 15px))}
#xiv-copy-wp     {clear:both;float:left}
#xiv-copy-wp i   {margin-right:4px}
.status-complete #xiv-description-wp {visibility:visible;}
.status-complete #xiv-description-wp::before {left:0;width:100%;background:#F3F3F3;border-radius:0}
.status-complete #xiv-description {transform:translate(0, 0)}
/*MISC*/
#xiv-backcover       {position:fixed;z-index: -1;top:0;left:0;height:100%;width:100%;user-select: none;-ms-user-select: none;overflow:hidden}
#xiv-backcover-image {position:absolute;top:50%;left:50%;}
#xiv-backcover-image {transform:translate(-50%, -50%)}
#xiv-backcover-image {min-width:100%;min-height:100%;}
#xiv-backcover-image {opacity:0.35;filter: blur(2px) grayscale(100%)}
#xiv-backcover-image {transition:all 800ms 500ms ease}   

/* DEVICE */
@media only screen and (min-width: 569px) {
  #xnavigator   {width:20vw}
  #xiv-title-wp {clear:none;max-width:auto}
  #xiv-opt      {float:right;margin-top:10px}
  #xiv-copy-wp  {clear:none;float:right}
}
@media only screen and (min-width: 800px) {
  #xiv-title-wp {padding-left:30px;padding-right:30px}
  #xiv-ft {padding-left:30px;padding-right:30px;padding-bottom:30px}
}
@media only screen and (min-width: 1023px) {
  #xiv-title-wp {padding-left:50px;padding-right:50px}
  #xiv-ft {padding-left:50px;padding-right:50px;padding-bottom:50px}
}


/* MISC */

#original-close-bt {
  position: fixed;
  z-index: -1;
  top: 15px;
  right: 15px;
  font-family:'Roboto', sans-serif;
  font-size: 32px;
  line-height: 45px;
  width: 45px;
  text-align: center;
  font-weight: 100;
  visibility: hidden;
  cursor: pointer;
  text-shadow: 1px 1px #000;
  background: RGBA(0, 0, 0, 0.2);
  user-select: none;-ms-user-select: none;-moz-user-select: none;
  opacity: 0;
  transform: scale(1.8);
}
.toOriginal #original-close-bt {
  z-index: 1000;
  visibility: visible;
  display: block;
  transform: scale(1);
  opacity: 1;
}

.xiv-con-sourceSmall #xnav {
  opacity: 0;
  z-index: 0;
}

/* EFFECTS */
.status-ready #xiv-title-wp {transition:all 2300ms 1500ms ease, padding 300ms 0ms ease}
.status-complete #xiv-title-wp {transition:all 2300ms 1500ms  ease, padding 300ms 0ms ease}
.toOriginal #xnavigator {}
.toOriginal #xiv-hd {transition:all 800ms ease}
.toOriginal #xiv-ft {transition:all 800ms ease}
.toOriginal #xnav {transition:all 500ms 400ms ease-out, opacity 700ms 700ms ease-in}
/*.toOriginal #nav-back {transition:opacity 2100ms 1500ms ease-out, background-position 1800ms ease-out}*/
.toOriginal #original-close-bt {transition:all 800ms 800ms ease-in}
.toOriginal #nav-viewport {transition:opacity 500ms 2000ms ease-out, left 100ms ease, right 100ms ease}
.status-complete #xiv-description-wp::before {transition:all 1400ms 3400ms ease, border 1000ms 3600ms ease}
.status-complete #xiv-description {transition:all 1500ms 4800ms ease-out}
.status-complete #xiv-screen-image {transition:all 1500ms 500ms ease-out, filter 700ms 800ms ease-in}


/* DEBUG */

#debug {
  display:none;
  pointer-events: none;
  z-index: 10000;
  position:fixed;
  top: 110px;
  left: 30px;
  background: RGBA(0,0,0,0.25);
  color: #fff;
  font-size: 12px;
  padding: 10px;
}


/* WEBKIT SCROLLBAR */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
::-webkit-scrollbar {width: 10px; height:10px;}
::-webkit-scrollbar-track {
    background:RGBA(255,255,255,0.35);
}
::-webkit-scrollbar :corner-present {
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:RGBA(0,0,0,0.55);
}


#viewmode {
  position: absolute;
  top:0;left:0;
  width:100%;height:100%;
  overflow:hidden;
  z-index:-1;
}
#viewmode #nav-back {
  position: absolute;
}
.toOriginal #viewmode {
  z-index:1;
}